<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="RAP (Binary Only)">

   <location useDefault="true"/>

   <content>
      <plugins>
         <plugin id="javax.servlet"/>
         <plugin id="org.apache.commons.logging"/>
         <plugin id="org.eclipse.core.commands"/>
         <plugin id="org.eclipse.core.contenttype"/>
         <plugin id="org.eclipse.core.jobs"/>
         <plugin id="org.eclipse.core.runtime"/>
         <plugin id="org.eclipse.equinox.app"/>
         <plugin id="org.eclipse.equinox.common"/>
         <plugin id="org.eclipse.equinox.http.jetty"/>
         <plugin id="org.eclipse.equinox.http.registry"/>
         <plugin id="org.eclipse.equinox.http.servlet"/>
         <plugin id="org.eclipse.equinox.preferences"/>
         <plugin id="org.eclipse.equinox.registry"/>
         <plugin id="org.eclipse.osgi"/>
         <plugin id="org.eclipse.osgi.services"/>
         <plugin id="org.eclipse.rap.jface"/>
         <plugin id="org.eclipse.rap.rwt"/>
         <plugin id="org.eclipse.rap.ui.workbench"/>
         <plugin id="org.eclipse.rap.w4t"/>
         <plugin id="org.mortbay.jetty"/>
      </plugins>
      <features>
      </features>
   </content>

</target>
