<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="RAP Tools target platform" sequenceNumber="60">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.4.26.v20200117"/>
            <repository location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.26.v20200117/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.800.v20200214-1600"/>
            <unit id="org.eclipse.e4.rcp.feature.group" version="4.15.0.v20200226-0601"/>
            <unit id="org.eclipse.e4.rcp.source.feature.group" version="4.15.0.v20200226-0601"/>
            <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.500.v20200217-1548"/>
            <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.300.v20191023-2007"/>
            <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.700.v20200217-0016"/>
            <unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="1.0.300.v20200217-0016"/>
            <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.200.v20191024-1546"/>
            <unit id="org.eclipse.emf.common.feature.group" version="2.18.0.v20191225-1014"/>
            <unit id="org.eclipse.emf.ecore.feature.group" version="2.21.0.v20200127-1342"/>
            <unit id="org.eclipse.help.feature.group" version="2.3.100.v20200226-1800"/>
            <unit id="org.eclipse.help.source.feature.group" version="2.3.100.v20200226-1800"/>
            <unit id="org.eclipse.jdt.feature.group" version="3.18.300.v20200226-1800"/>
            <unit id="org.eclipse.jdt.source.feature.group" version="3.18.300.v20200226-1800"/>
            <unit id="org.eclipse.pde.feature.group" version="3.14.300.v20200226-1800"/>
            <unit id="org.eclipse.pde.source.feature.group" version="3.14.300.v20200226-1800"/>
            <unit id="org.eclipse.platform.feature.group" version="4.15.0.v20200226-1800"/>
            <unit id="org.eclipse.platform.source.feature.group" version="4.15.0.v20200226-1800"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.15.0.v20200226-1800"/>
            <unit id="org.eclipse.rcp.source.feature.group" version="4.15.0.v20200226-1800"/>
            <repository location="https://download.eclipse.org/eclipse/updates/4.15milestones/S-4.15RC1-202002261800/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
            <repository location="https://download.eclipse.org/cbi/updates/license/"/>
        </location>
    </locations>
</target>
