<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.rap.ui.internal.launch.RAPLaunchDelegate"
            delegateDescription="%launchConfigurationType.delegateDescription"
            delegateName="%launchConfigurationType.delegateName"
            id="org.eclipse.rap.ui.launch.RAPLauncher"
            modes="run,debug"
            name="%launchConfigurationType.name"
            public="true"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.rap.ui.internal.launch.junit.RAPJUnitLaunchConfigurationDelegate"
            delegateDescription="%junitLaunchConfigurationType.delegateDescription"
            delegateName="%junitLaunchConfigurationType.delegateName"
            id="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher"
            modes="run,debug"
            name="%junitLaunchConfigurationType.name"
            public="true"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.rap.ui.internal.launch.tab.RAPLaunchTabGroup"
            description="%launchConfigurationTabGroup.description"
            id="org.eclipse.rap.ui.launch.RAPTabGroup"
            type="org.eclipse.rap.ui.launch.RAPLauncher">
         <launchMode
               description="%launchMode.run.description"
               mode="run">
         </launchMode>
         <launchMode
               description="%launchMode.debug.description"
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.rap.ui.internal.launch.junit.RAPJUnitLaunchTabGroup"
            description="%junitLaunchConfigurationTabGroup.description"
            id="org.eclipse.rap.ui.launch.RAPJUnitTabGroup"
            type="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher">
         <launchMode
               description="%junitLaunchMode.run.description"
               mode="run">
         </launchMode>
         <launchMode
               description="%junitLaunchMode.debug.description"
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.rap.ui.launch.RAPLauncher"
            icon="$nl$/icons/obj16/launcher.gif"
            id="org.eclipse.rap.ui.launch.RAPLaunchImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher"
            icon="$nl$/icons/obj16/rapjunitlaunch.gif"
            id="org.eclipse.rap.ui.launch.RAPJUnitTestLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.rap.ui.internal.launch.RAPLaunchShortcut"
            icon="$nl$/icons/obj16/launcher.gif"
            id="org.eclipse.rap.ui.launch.RAPLaunchShortcut"
            label="%launchShortcut.label"
            modes="run,debug">
         <configurationType
               id="org.eclipse.rap.ui.launch.RAPLauncher">
         </configurationType>
         <description
               description="%launchShortcut.run.description"
               mode="run">
         </description>
         <description
               description="%launchShortcut.debug.description"
               mode="debug">
         </description>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                    <count value="1"/>
                    <iterate>
                      <and>
                        <test property="org.eclipse.debug.ui.projectNature" value="org.eclipse.pde.PluginNature"/>
                          <or>
                          <adapt type="org.eclipse.core.resources.IProject"/>
                          <test property="org.eclipse.debug.ui.matchesPattern" value="plugin.xml"/>
                          <test property="org.eclipse.debug.ui.matchesPattern" value="MANIFEST.MF"/>
                          </or>
                       </and>
                  </iterate>
               </with>
           </enablement>
         </contextualLaunch>         
      </shortcut>
      <shortcut
            class="org.eclipse.rap.ui.internal.launch.junit.RAPJUnitLaunchShortcut"
            icon="$nl$/icons/obj16/rapjunitlaunch.gif"
            id="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut"
            label="%junitLaunchShortcut.label"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                      <adapt type="org.eclipse.jdt.core.IJavaElement">
                    <test property="org.eclipse.jdt.core.isInJavaProjectWithNature" value="org.eclipse.pde.PluginNature"/>
                    <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
                    <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
                 </adapt>
              </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher">
         </configurationType>
         <description
               description="%RunJUnitPluginLaunchShortcut.description"
               mode="run">
         </description>
         <description
               description="%DebugJUnitPluginLaunchShortcut.description"
               mode="debug">
         </description>
      </shortcut>
      
   </extension>
   <extension
         point="org.eclipse.pde.ui.launchShortcuts">
      <shortcut
            id="org.eclipse.rap.ui.launch.RAPLaunchShortcut"
            label="%pdeLaunchShortcut.run.label"
            mode="run"
            osgi="false">
      </shortcut>
      <shortcut
            id="org.eclipse.rap.ui.launch.RAPLaunchShortcut"
            label="%pdeLaunchShortcut.debug.label"
            mode="debug"
            osgi="false">
      </shortcut>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%command.run.name"
            description="%command.run.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.rap.ui.launch.RAPLaunchShortcut.run">
      </command>
      <command
            name="%command.debug.name"
            description="%command.debug.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.rap.ui.launch.RAPLaunchShortcut.debug">
      </command>
      <command
            name="%command.junit.run.name"
            description="%command.junit.run.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut.run">
      </command>
      <command
            name="%command.junit.debug.name"
            description="%command.junit.debug.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut.debug">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.rap.ui.launch.RAPLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+X R">
      </key>
      <key
            commandId="org.eclipse.rap.ui.launch.RAPLaunchShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+D R">
      </key>
      <key
            commandId="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+X U">
      </key>
      <key
            commandId="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+D U">
      </key>
   </extension>
   
</plugin>
