<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="RAP Runtime e3 3.25" sequenceNumber="7">
  <locations>
    <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.25.0.20230607-1200"/>
      <unit id="org.eclipse.rap.examples.feature.feature.group" version="3.25.0.20230607-1200"/>
      <unit id="org.eclipse.rap.feature.feature.group" version="3.25.1.20230906-1200"/>
      <unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.25.1.20230906-1200"/>
      <repository location="https://download.eclipse.org/rt/rap/3.25/"/>
    </location>
  </locations>
</target>
