<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.6"?>

<target name="RAP Runtime e3 3.20" sequenceNumber="6">
  <locations>
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.20.0.20220309-1200"/>
      <unit id="org.eclipse.rap.examples.feature.feature.group" version="3.20.0.20220309-1200"/>
      <unit id="org.eclipse.rap.feature.feature.group" version="3.20.0.20220309-1200"/>
      <unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.20.0.20220309-1200"/>
      <repository location="https://download.eclipse.org/rt/rap/3.20/R-20220309-1623/"/>
    </location>
  </locations>
</target>
