<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="RAP Runtime e4 3.27" sequenceNumber="6">
  <locations>
    <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rap.e4.equinox.target.feature.feature.group" version="3.27.0.20231205-1200"/>
      <unit id="org.eclipse.rap.e4.examples.feature.feature.group" version="3.27.0.20231205-1200"/>
      <unit id="org.eclipse.rap.e4.feature.feature.group" version="3.27.0.20231205-1200"/>
      <unit id="org.eclipse.rap.e4.sdk.feature.feature.group" version="3.27.0.20231205-1200"/>
      <repository location="https://download.eclipse.org/rt/rap/3.27/e4/R-20231205-1650/"/>
    </location>
  </locations>
</target>
