<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="RAP Runtime e4 3.23" sequenceNumber="4">
  <locations>
    <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rap.e4.equinox.target.feature.feature.group" version="3.23.0.20221122-1200"/>
      <unit id="org.eclipse.rap.e4.examples.feature.feature.group" version="3.23.0.20221122-1200"/>
      <unit id="org.eclipse.rap.e4.feature.feature.group" version="3.23.0.20221122-1200"/>
      <unit id="org.eclipse.rap.e4.sdk.feature.feature.group" version="3.23.0.20221122-1200"/>
      <repository location="https://download.eclipse.org/rt/rap/3.23/e4/RC1-20221122-1726/"/>
    </location>
  </locations>
</target>
