<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="RAP Runtime e4 4.4" sequenceNumber="6">
  <locations>
    <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rap.e4.equinox.target.feature.feature.group" version="4.4.0.20250829-1200"/>
      <unit id="org.eclipse.rap.e4.examples.feature.feature.group" version="4.4.0.20250829-1200"/>
      <unit id="org.eclipse.rap.e4.feature.feature.group" version="4.4.0.20250829-1200"/>
      <unit id="org.eclipse.rap.e4.sdk.feature.feature.group" version="4.4.0.20250829-1200"/>
      <repository location="https://download.eclipse.org/rt/rap/4.4/e4/"/>
    </location>
  </locations>
</target>
